<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <title>ระบบบันทึกหน่วยไฟฟ้าอัจฉริยะ</title>
  <link rel="stylesheet" href="">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <style>
    body{
            background-color:rgb(236, 236, 236)
        }
        #Head {
    font-size: 20px;
    background-color: yellowgreen;
    color: black;
    border: 2px
  }
  div.bigroom{
    width: 100px;
    height: 150px;
    margin-left: 5%
  }
  .divform{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:whitesmoke;

  }
  div.room{
    border: 2px solid black;
    width: 100px;
    height: 90px;
  }
  .TextHead{
    font-size: 50px
    
  }
 
 
     #box { 
    border: 3px solid rgb(10, 10, 10);
    display: block;
    margin: auto;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(190, 225, 248)
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  width: 1000px;
  border: 3px solid #f1f1f1;
  margin-left: auto;
 margin-right: auto;
    
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(249, 253, 253);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>




</head>

<body>
  <div class="container-fluid" id="Head">
    <div class="class col-sm-12 ">
      <div class="row justify-content-center">
        <ul>
          <img src="https://www.bpicc.com/images/2018/10/09/Logo_Intregrate.png" width="90px" height="90px" alt="">
        </ul>
        <ul>
          <img src="https://www.bpicc.com/images/2018/10/09/lg_wu.png" width="80px" height="90px" alt="">

        </ul>
        <div>
          <ul>
            <h1>ระบบบันทึกหน่วยไฟฟ้าอัจฉริยะ </h1>
          </ul>
          <ul>
            <h5>(Smart energy monitoring system)</h2>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      </ul>


    </div>
    <form class="form-inline my-2 my-lg-0 fixed-right" action="https://electricitymeter.herokuapp.com/Logoutuser"
      onsubmit="SubMit()" method="POST">
      <button style="margin-right:5%;" class="btn btn-outline-success my-2 my-sm-0" value="log out" type="submit">Log
        out</button>
    </form>
  </nav>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">ข้อมูลห้อง</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">การใช้น้ำเเละไฟฟ้า</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="container-fluid" style="margin-top: 30px">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-sm-12  ">
            <br>
            <div class="divform" style="margin-left: 3%">
              <ul>
                <p class="h2">ข้อมูลห้อง</p>
              </ul>
              <br>
              <div class="row">
                <div class="col-md-12 col-lg-6">

                  <label for="exampleInputEmail1">หมายเลขห้อง</label><br>
                  <h4 id="roomNumber" style="margin-left:10%;">dfdfd</h5><br>
                    <label for="exampleInputEmail1">วันที่ทำสัญญา</label>
                    <h4 id="Contract" style="margin-left:10%;">dfdfd</h5><br>

                </div>
                <br>

                <div class="col-md-12 col-lg-6">

                  <label for="exampleInputEmail1">ชื่อหอพัก</label><br>
                  <h4 id="BuildingName" style="margin-left:10%;">dfdfd</h5><br>
                    <label for="exampleInputEmail1">ค่าเช่าห้อง</label>
                    <h4 id="rentroom" style="margin-left:10%;">dfdfd</h5><br>

                </div>
                <br>
              </div>


              <p class="h2">รายชื่อสมาชิกในห้อง</p>
              <div class="">
                <table border="2" class="col-lg-12 col-sm-8 table-responsive padding  table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">ลำดับที่</th>
                      <th scope="col">ชื่อ</th>
                      <th scope="col">นามสกุล</th>
                      <th scope="col">เบอร์โทรศัพท์</th>
                      <th scope="col">ป้ายทะเบียนยานพาหนะ</th>
                    </tr>
                  </thead>
                  <tbody id="tablePos">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid" style="margin-top: 30px">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-sm-12  ">
            <br>
            <div class="divform" style="margin-left: 3%">
              <ul>
                <p class="h2">ข้อมูลติดต่อหอพัก</p>
                <div class="row">
                  <div class="col-md-12 col-lg-6">

                    <label for="exampleInputEmail1">ชื่อหอพัก</label><br>
                    <h4 id="BuildingNameAdmin" style="margin-left:10%;">dfdfd</h5><br>
                      <label for="exampleInputEmail1">เบอร์โทรติดต่อหอพัก</label>
                      <h4 id="BuildingPhone" style="margin-left:10%;">dfdfd</h5><br>

                  </div>
                  <br>

                  <div class="col-md-12 col-lg-6">

                    <label for="exampleInputEmail1">ชื่อผู้ดูเเลหอพัก</label><br>
                    <h4 id="nameadmin" style="margin-left:10%;">dfdfd</h5><br>
                      <label for="exampleInputEmail1">emailติดต่อหอพัก</label>
                      <h4 id="emailadmin" style="margin-left:10%;">dfdfd</h5><br>

                  </div>
                  <br>
                </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    {{!-- การใช้น้ำเเละไฟฟ้า --}}
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row justify-content-center">
        <div class="col-md-11 col-lg-8">
          <br> <br>
          <h2 style="text-align:center">ตารางเเสดงการใช้ไฟฟ้าเเละการใช้น้ำ</h3>
            <br>
            <div class="">

              <div class="row ">
                <div class="col-md-12 col-lg-6 divform ">
                  <h4>การใช้พลังงานไฟฟ้าของห้องพัก</h4>
                  <div id="usemeter">

                  </div>
                  <div id="stringovermeter">

                  </div>
                </div>
                <div class="col-md-12 col-lg-6 divform">
                  <h4>การใช้พลังงานน้ำของห้องพัก</h4>
                  <div id="usewater">

                  </div>
                  <br>
                  <div id="stringoverwater" style="text:center">
                  </div>
                </div>

              </div>



            </div>
        </div>

      </div>
    </div>

  </div>


  <!--
  Extra small <576px   col
  small > 576      px  col-sm
  mediu, >= 768        col-md
  Large >=992 px       com-lg
  Extra Large >= 120px col-xl
-->




  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script>

    $(document).ready(function () {
      //    { { !--console.log($.cookie('name')) --} }
      var phoneNumber = "{{phoneNumber}}"
      var BuildingName = "{{BuildingName}}"
      console.log('ddd', BuildingName)
      console.log('ddd', phoneNumber)


      var doc = "{{doc}}"
      var data = JSON.parse(decodeURI(doc))
      var data_admin = [];
      console.log('###################')
      console.log(data)
      _dateAd = data

      var ourRequest = new XMLHttpRequest();
      ourRequest.open('GET', 'https://electricitymeter.herokuapp.com/getbuilduser/' + BuildingName)
      ourRequest.onload = function () {
        var ourData = JSON.parse(ourRequest.responseText);
        console.log('datatest', ourData)
        renderusemeter(ourData, phoneNumber)
        renderusewater(ourData, phoneNumber)
        return false;
      }
      ourRequest.send();

      renderhomeuser(data, phoneNumber)


      function renderhomeuser(data, phoneNumber) {
        console.log('testdata', data)
        var count = 0
        var countuser = 0
        var htmlstringhomeuser = ''
        for (let i = 0; i < data[0].floor.length; i++) {
          for (let j = 0; j < data[0].floor[i].room.length; j++) {
            for (let k = 0; k < data[0].floor[i].room[j].user.length; k++) {
              if (data[0].floor[i].room[j].user[k].phoneNumber == phoneNumber) {
                _countuser = data[0].floor[i].room[j].roomNumber
                _methodwater = data[0].methodwater

                console.log('จำนวนห้อง', data[0].floor[i].room[j].user.length)
                document.getElementById('roomNumber').innerHTML = data[0].floor[i].room[j].roomNumber
                document.getElementById('Contract').innerHTML = data[0].floor[i].room[j].contract
                document.getElementById('BuildingName').innerHTML = data[0].BuildingName
                document.getElementById('rentroom').innerHTML = data[0].floor[i].room[j].rentroom
                document.getElementById('BuildingNameAdmin').innerHTML = data[0].BuildingName
                document.getElementById('BuildingPhone').innerHTML = data[0].BuildingPhone
                document.getElementById('nameadmin').innerHTML = data[0].adminAllow
                document.getElementById('emailadmin').innerHTML = data[0].BuildingEmail
                for (let k = 0; k < data[0].floor[i].room[j].user.length; k++) {

                  htmlstringhomeuser += ''
                    + '   <tr>'
                    + '     <th scope="row">' + (k + 1) + '</th>'
                    + '     <td>' + data[0].floor[i].room[j].user[k].firstName + '</td>'
                    + '      <td>' + data[0].floor[i].room[j].user[k].lastName + '</td>'
                    + '     <td>' + data[0].floor[i].room[j].user[k].phoneNumber + '</td>'
                    + '     <td>' + data[0].floor[i].room[j].user[k].License + '</td>'
                    + '   </tr >'
                }

              }






            }
          }
        }
        document.getElementById('tablePos').innerHTML = htmlstringhomeuser

      }

      //funtion หน้า 2 การใช้ไฟฟ้าในห้อง
      function renderusemeter(Dataanalysis, phoneNumber) {


        console.log(_countuser)
        var htmlstringuse = ''
        htmlstringuse += ''
          + ' <table class="table table-striped class=" table - primary >'
          + '   <thead>'
          + '    <tr>'
          + '      <th scope="col">เดือนที่</th>'
          + '      <th scope="col">จำนวนไฟฟ้าที่ใช้</th>'
          + '       <th scope="col">ราคาบาท/หน่วยไฟฟ้า</th>'
          + '       <th>จำนวนเงิน</th>'
          + '       </tr>'
          + '     </thead>'
          + '     <tbody>'
        for (let h = 0; h < Dataanalysis.length; h++) {
          for (let i = 0; i < Dataanalysis[h].floormeter.length; i++) {
            for (let j = 0; j < Dataanalysis[h].floormeter[i].roommeter.length; j++) {
              if (Dataanalysis[h].floormeter[i].roommeter[j].roomNumbermeter == _countuser) {
                //=====================
                let Dateyear = (_dateAd[0].floor[i].room[j].contract).split('-')[0]
                let Datemonth = (_dateAd[0].floor[i].room[j].contract).split('-')[1]
                let datebuild = Dateyear + "-" + Datemonth
                var date1 = new Date(datebuild)
                   console.log('date', date1)
                var datecount = Dataanalysis[h].datemeter
                var date2 = new Date((datecount))
                //=====================
                if (date1 <= date2) {
                  htmlstringuse += ''
                    + ' <tr>'
                    + '    <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].datemeter + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].floormeter[i].roommeter[j].usemetermonth + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].pricemeter + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + (Dataanalysis[h].pricemeter * Dataanalysis[h].floormeter[i].roommeter[j].usemetermonth) + '</td>'
                    + '</tr>'
                }
              }
            }
          }
        }
        htmlstringuse += ''
          + '</tbody >'
          + '</table >'
        document.getElementById('usemeter').innerHTML = htmlstringuse
      }
      function renderusewater(Dataanalysis, phoneNumber) {
        console.log(_countuser)
        console.log(_methodwater)

        var htmlstringuse = ''
        htmlstringuse += ''
          + ' <table class="table table-striped class=" table - primary >'
          + '   <thead>'
          + '    <tr>'
          + '      <th scope="col">เดือนที่</th>'
          + '      <th scope="col">จำนวนน้ำที่ใช้</th>'
          + '       <th scope="col">ราคาบาท/หน่วยมิเตอร์น้ำ</th>'
          + '       <th>จำนวนเงิน</th>'
          + '       </tr>'
          + '     </thead>'
          + '     <tbody>'
        for (let h = 0; h < Dataanalysis.length; h++) {
          for (let i = 0; i < Dataanalysis[h].floormeter.length; i++) {
            for (let j = 0; j < Dataanalysis[h].floormeter[i].roommeter.length; j++) {
              if (Dataanalysis[h].floormeter[i].roommeter[j].roomNumbermeter == _countuser) {
                if (_methodwater == 'rentunit') {
                  htmlstringuse += ''
                    + ' <tr>'
                    + '    <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].datemeter + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].floormeter[i].roommeter[j].usewatermonth + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].pricewater + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + (Dataanalysis[h].pricewater * Dataanalysis[h].floormeter[i].roommeter[j].usewatermonth) + '</td>'
                    + '</tr>'
                } else {
                  htmlstringuse += ''
                    + ' <tr>'
                    + '    <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].datemeter + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].floormeter[i].roommeter[j].usewatermonth + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + Dataanalysis[h].pricewater + '</td>'
                    + '     <td scope="row" style="text-align: right;"> ' + (Dataanalysis[h].pricewater) + '</td>'
                    + '</tr>'
                }
              }
            }
          }
        }
        htmlstringuse += ''
          + '</tbody >'
          + '</table >'
        document.getElementById('usewater').innerHTML = htmlstringuse
      }

    });
  </script>

</body>

</html>