extends layout


block content

    div.container
        div.row
         col-12col-sm-6
            h2 Add Inputfloor And Layer
            form(action="", method="post") 
                .row
                    .form-group-col-6
                     .div
                      label(form="") จำนวนชั้น
                        .div
                        input(type="number",name="floor" ,class="form-control")
                        label(form="") ชั้น
                .row
                 .form-group-col-6
                     .row  
                      label(form="") ชั้นที่
                      input(type="number",name="floor" ,class="form-control")
                      label(form="") ห้อง


