<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
        .subject {
      margin-top: 20px;
      text-align: center;
      font-size: 50px;
      color: rgb(78, 4, 4);
    }#Head {
    font-size: 20px;
    background-color: #FFA500;
    color: black;
    border: 2px
  }
  div.bigroom{
    width: 100px;
    height: 150px;
    margin-left: 5%
  }
  div.room{
    border: 2px solid black;
    width: 100px;
    height: 90px;
  }
  .TextHead{
    font-size: 50px
    
  }.divform{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:whitesmoke;

  }body{
    background-color:rgb(236, 236, 236)
  }
 
 
 
  </style>
</head>
<!--
  Extra small <576px   col
  small > 576      px  col-sm
  mediu, >= 768        col-md
  Large >=992 px       com-lg
  Extra Large >= 120px col-xl
-->

<body>
    <div class="container-fluid" id="Head">
        <div class="class col-sm-12 ">
            <div class="row justify-content-center">
                <ul>
                    <img src="https://www.bpicc.com/images/2018/10/09/Logo_Intregrate.png" width="90px" height="90px"
                        alt="">
                </ul>
                <ul>
                    <img src="https://www.bpicc.com/images/2018/10/09/lg_wu.png" width="80px" height="90px" alt="">
                </ul>
                <div>
                    <ul>
                        <h1>ระบบบันทึกหน่วยไฟฟ้าอัจฉริยะ </h1>
                    </ul>
                    <ul>
                        <h5>(Smart energy monitoring system)</h2>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link " href="somelogin.html">เข้าสู่ระบบ
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="someregister.html">สมัครสมาชิก</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container" style="margin-top: 30px">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8  ">
                <div align="center">
                    <img src="images/Logo_Intregrate.png" width="40%" height="40%" alt="">
                    <h3>กรุณากรอกข้อมูลให้ครบถ้วนเพื่อทำการสร้าง Username เเละ Password</h3>
                </div>
                <hr>
                <div class="divform">
                    <form name="form1" id="form1" class="form-horizontal" action='' onsubmit="return false">
                        <label for="exampleInputEmail1" style="color: red"><h5>*กรุณากรอกข้อมูลให้ครบทุกช่องในการสมัครสมาชิก</h5></label>

                        <div class="form-group">

                            <label class="" for="username">Username</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="username" name="username" placeholder="">
                                <!--   <p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" class="form-control" id="password" name="password" placeholder="">
                                <!--   <p class="help-block">Password should be at least 4 characters</p>-->
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password -->
                            <label class="control-label" for="password_confirm">Password (Confirm)</label>
                            <div class="controls">
                                <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                                    placeholder="" class="input-xlarge">
                                <!--    <p class="help-block">Please confirm password</p>-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="fname">First Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="lname">Last Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="phone">Phone number</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="">
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button id="reg" class="btn btn-success" type="button">Register</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            // เมื่อเกิดเหตุการ submit form
            $('#reg').click(function () {
                // alert('submit   ')
                if (document.getElementById('username').value == "") {
                    alert('Please Input Username');
                    return false;
                } else if (document.getElementById('password').value == "") {
                    alert('Please Input Password ');
                    return false;
                } else if (document.getElementById('password_confirm').value == "") {
                    alert('Please Input Confirm Password');
                    return false;
                } else if (document.getElementById('password').value != document.getElementById('password_confirm').value) {
                    alert('The password does not match');
                    return false;
                }
                var username = document.getElementById('username').value
                var password = document.getElementById('password').value
                var fname = document.getElementById('fname').value
                var lname = document.getElementById('lname').value
                var phone = document.getElementById('phone').value


                //var newAdmin = '{"username" :"' + username + '""password":"' + password + '"}'
                var newAdmin = {
                    username, password, fname, lname, phone
                }
                console.log(newAdmin)
                postData(newAdmin)
                // console.log('newAdmin:', newAdmin)
                // console.log('json: ', JSON.stringify({ newAdmin }))



            });
        })
        function postData(newAdmin) {
            var url = "http://localhost:3000/postAdmin";
            console.log('===============')
            console.log(newAdmin.username)
            console.log(newAdmin.password)
            console.log(newAdmin.fname)
            console.log(newAdmin.lname)
            console.log(newAdmin.phone)
            console.log('===============')
            // let res = $.post(url, { username: newAdmin.username, password: newAdmin.password }) 
            // let res = $.post(url, { username: newAdmin.username, password: newAdmin.password },  function(data, status){
            //     console.log('data:'+ data)
            //     console.log('status'+ status)
            // })

            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('res is', xhr.responseText)
                    // if success go login page
                    alert('create user Successful ')
                    window.location.href = 'http://127.0.0.1:5500/somelogin.html';

                } else {
                    //alert('can not create user! Pls try again.')
                }
            };
            var data = JSON.stringify({
                username: newAdmin.username, password: newAdmin.password, fname: newAdmin.fname,
                lname: newAdmin.lname, phone: newAdmin.phone
            });
            xhr.send(data);
        }
    </script>











    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>